# WebStorm
.idea/

# Netbeans
nbproject/

# Mac OS X
.DS_Store
.Spotlight-V100
.Trashes

# NPM
node_modules/
npm-debug.log

# Build-specific
target/
dist/

#testing
src/app/home/
src/app/test/

# Libraries
src/libs/

# VSCode
.vscode/
